In [7]:
%load_ext sql
%sql sqlite:///exoplanets.db

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [14]:
%sql SELECT * FROM exoplanets WHERE orbital_period < 10 AND mass < 10;

Running query in 'sqlite:///exoplanets.db'

+----------------+----------------+---------------------+----------------+--------------------+--------------------+---------------------+
|      name      | host_star_name | distance_from_earth | discovery_year |   orbital_period   |   planet_radius    |         mass        |
+----------------+----------------+---------------------+----------------+--------------------+--------------------+---------------------+
|  Neptune2566   |     Ari245     |  2849.961534911281  |      2004      | 6.298629760931302  | 1.1323162105204216 |  7.336557474612545  |
|   Thoth6170    |     CMi633     |   319.454352659713  |      2005      | 9.589108135306933  | 0.6534906856000442 |  1.008488241972552  |
|    Hera7727    |     Cep599     |  3439.586226640813  |      2024      | 1.8857420359676897 | 1.7277730732591385 |  6.644460722829988  |
|   Vulcan8495   |    Proxima     |  1443.4280156719967 |      2021      |  7.10924115679507  | 1.1895778704049238 | 0.19694685684707813 |
|   Anubis8427   |    Boötes S    |  886.8860440663435  |      2013      | 9.049062386396065  | 0.8635553160708163 |  8.153570339218946  |
|   Apollo5018   |    Arcturus    |  306.81062249983887 |      2012      | 6.879811739743709  | 1.0381036679520066 |  1.5240602718095149 |
|    Loki7214    |    Proxima     |  4943.549998113555  |      2022      | 5.243436708991347  | 1.2903553874754674 |  7.908906508506446  |
|   Diana7793    |    Antares     |  145.40667115160855 |      2012      | 8.816541144331131  | 0.9144614546914837 |  0.1822218048736874 |
| Hephaestus8747 |     Cas908     |  855.1443932251931  |      2017      | 7.154207597052867  | 1.1702094970889472 |  6.911940291664152  |
|   Apollo5517   |    Auriga C    |  1557.0274738689775 |      2019      | 2.1454595757508055 | 1.703984295191579  |  2.838773067277538  |
+----------------+----------------+---------------------+----------------+--------------------+--------------------+---------------------+
Truncated to displaylimit of 10.